.PT-sans {
  font: 3em 'Source Sans Pro', sans-serif;
  word-spacing: .3em;
}

#logo {
  width: 200px;
  height: auto;
  display: inline-block;
  margin-left: 15%;
  margin-top: 5%;
}

@media(max-width: 769px){
#logo {
  display: none;
}
  #top-nav {
    margin-left: 20%;
    margin-right: 15%;

  }
}

#nav-links{
  margin-top:5%;
}

#top-nav{
  a {
    position: relative;
    color: #000;
    text-decoration: none;
  }
  a:hover {
    color: #000;
  }

  a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1.5px;
    bottom: 0;
    left: 0;
    background-color: #000;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}
