// base
@import '_base.scss';

// top nav
@import '_top-nav.scss';

.blog-title {
  color: #004BB2;
  font: 4em 'Lobster Two', cursive;
}

.blog-heading {
  font: 2.5em 'Roboto Slab', serif;
  margin: 45px 0 0 0;
}

.blog-text {
  font: 1.8em 'Cabin', sans-serif;
  margin: 20px 0 20px 0;
  line-height: 1.5em;
}

@media(min-width: 625px){

  .blog-media {
    width: 600px;
  }
}

@media(min-width: 434px) and (max-width: 624px) {
  .blog-media {
    width: 400px;
  }

}

@media(max-width: 433px) {
  .blog-media {
    width: 300px;
  }
}
