// base
@import '_base.scss';

// top nav
@import '_top-nav.scss';

@media(max-width: 479px) {
  #title {
    font: 3.5em 'Roboto', sans-serif;
    color: ghostwhite;
    -webkit-text-stroke: 1px gray;
    position: absolute;
    top: 30%;
    left: 13%;
  }
}


@media (min-width: 480px) and (max-width: 566px) {
  #title {
    font: 4.5em 'Roboto', sans-serif;
    color: ghostwhite;
    -webkit-text-stroke: 1px gray;
    position: absolute;
    top: 30%;
    left: 13%;
  }
}


@media(min-width: 567px) and (max-width: 679px) {
  #title {
    font: 5.5em 'Roboto', sans-serif;
    color: ghostwhite;
    -webkit-text-stroke: 1px gray;
    position: absolute;
    top: 30%;
    left: 13%;
  }
}

@media(min-width: 680px) and (max-width: 994px){
#title {
  font: 6.5em 'Roboto', sans-serif;
  color: ghostwhite;
  -webkit-text-stroke: 1px gray;
  position: absolute;
  top: 30%;
  left: 13%;
}
}
@media(min-width: 995px){
#title {
  font: 8.5em 'Roboto', sans-serif;
  color: ghostwhite;
  -webkit-text-stroke: 1px gray;
  position: absolute;
  top: 30%;
  left: 13%;
}
}

body {
  background: url(../images/background3.jpg) no-repeat center center fixed;
  background-size: cover;
}


@keyframes blink {
  0% {
    opacity: 1.0;
  }
  50% {
    opacity: 0.0;
  }
  100% {
    opacity: 1.0;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 1.0;
  }
  50% {
    opacity: 0.0;
  }
  100% {
    opacity: 1.0;
  }
}
.blink {
  animation: blink 1s step-start 0s infinite;
  -webkit-animation: blink 1s step-start 0s infinite;
}

