<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Jaspreet Singh | Blog">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Jaspreet Singh - Blog</title>

    <link rel="apple-touch-icon" href="apple-touch-icon.png">

    <link rel="stylesheet" href="../../styles/blog-post.css">
    <script src="/bower_components/modernizr/modernizr.js"></script>
  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="container">
    <nav id="top-nav" class="navbar PT-sans">
        <div class="row" id="nav-row">
                    <div class="col-sm-7" id="nav-links">
          <a href="../about.html">About</a>
          <a href="../blog.html">Blog</a>
          <a href="#">Portfolio</a>
            </div>
          <div class="col-sm-3">
        <img id="logo" src="../../images/JS-1-black.svg">
            </div>
          </div>
    </nav>

    <div class="blog-post">
      <h1 class="blog-title">Reflections on Cal</h1>
      <p class="blog-text">Truth be told, I didn't cheer at first when I got into Cal.</p>
      <p class="blog-text">I saw "Congratulations, we have a spot open for you in Spring 2012!" and thought, "Spring 2012?! What am I going to do for all those months while all my friends are gone in the Fall!" I was still starstruck by UCLA (man do they have a killer orientation for admitted students) and wanted to start at the same time as everyone else.</p>
      <p class="blog-text">Moreover, Berkeley's orientation left me confused and intimidated. I wasn't sure I could compete with all these people that were coding since they were 5. UCLA just felt like the safer bet, I even had the comfort of being 30 minutes away from home.</p>
      <p class="blog-text">But on a leap of faith, I chose Cal and never looked back. It was one hell of a journey, from dorm room to frat house to a quiet house on North Side. From taking the BART into San Francisco over summers, coding  for endless nights in Soda Hall, doing my best Alesso impression while DJing at parties, accepting a job offer on stage at a LinkedIn event, I learned a lot.</p>
      <p class="blog-text">Looking back there were a few key lessons that stood out to me through this ridiculous experience, and I'd like to share them with you.</p>
      <h2 class="blog-heading">Accept the Challenge</h2>
      <p class="blog-text">If you never push yourself outside of your comfort zone, how will you ever know what you're truly capable of? I was lucky to learn this early on from my father, he always pushed me to go beyond what I thought I was capable of and that attitude just magnified as I got older. Don't get it twisted, going to UCLA wouldn't have been some cake walk. But I knew if I wanted to grow beyond my limits, I'd have to throw myself in an unfamiliar environment far away from the safety net of home. Go up against the toughest competition, just to see if I could get out alive and thriving. And there were so many times after I made the decision to give it a try that I was kicking myself, wishing I had gone down the easier path. But getting that diploma in the end felt so damn good, and there was this moment of it all being worth it. So I'd like to challenge you to ask yourself where are you not giving your all when you could? Fix it, accept the challenge.</p>
      <h2 class="blog-heading">Network ... with EVERYONE</h2>
      <p class="blog-text">You never know how the people you interact with will come back to help you later on. One day while I  was an intern at YP, I decided to start a random conversation with someone in the break room. This person ended up being the Executive Director of Talent Acquisition and that initial conversation set off a weird series of events that concluded in an on-stage job offer at LinkedIn's Talent Connect event. That happened from a small talk break room conversation! I know this example is a little extreme, but being open to saying hello and meeting new people was always something that helped me in unexpected ways. Who would have thought that being genuinely interested in the people around you would result in them being genuinely interested in you.  So next time you hear that voice in your head asking "hmm, should I say hello ?",  answer with a resounding YES.</p>
      <h2 class="blog-heading">Stay Open to Trying Something New</h2>
      <p class="blog-text">Every semester of college, I was afforded the opportunity of being someone completely new. I wish I had taken more advantage of all those resources, it's not so easy to learn you're interested in archery behind a cubicle at the work place. Some of my favorite memories from college were saying yes to things I never thought I'd join coming into Cal. It's important to craft this openness early on. You may never find that you're a master at Catan if you dismiss it as some nerdy board game, or that you're a great motivational speaker if you never give yourself a voice.</p>
     <p class="blog-text">I'll be posting some more reflections over time. Thanks for reading, I'd love to know if you had any key lessons you took away from your college experience so feel free to comment below.</p>
      </div>
    </div>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='https://www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>

    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/affix.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/alert.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/dropdown.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/tooltip.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/modal.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/transition.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/button.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/popover.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/carousel.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/scrollspy.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/collapse.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/tab.js"></script>
  </body>
</html>
